@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


*{
    margin:0;
    padding: 0;
}
:root{
    --Dark-cyan: hsl(185, 75%, 39%);
 --Very-darkblue: hsl(229, 23%, 23%);
--Dark-grayish-blue: hsl(227, 10%, 46%);
}

body{
    background-image:url(images/bg-pattern-bottom.svg);
    background-color: var(--Dark-cyan);
    font-family: 'Kumbh Sans', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    background-color: white;
    border:1px solid white;
  
    border-radius: 0.80vw;
    /* width:350px ;
    height:400px; */
    min-height: 54vh;
    max-width: 22.5vw;
    position: relative;
    top: 19.89vh;
    
}
.man-img{
    border:0.13vw solid white;
    /* border-radius: 50px; */
    border-radius:  3.255vw;
   
}
.upbackground{
   position: absolute;
   top:0.01vh;
   max-width: 22.5vw;
  
}
.bg{
    border-radius: 0.70vw  0.70vw 0vw 0vw;
    max-width: 22.5vw;
    border:2px 2px 0px 2px solid ;
    border-image: url(images/bg-pattern-bottom.svg);
}
.lowbackground{
    position: absolute;
    top: 12.01vh;  
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 4.26vh;
}
.content .name1{
  font-size: 1.171vw;
  font-weight: 600;
  color: var(--Very-darkblue);
  text-align: center;
}
.content .age {
    font-size:  1.171vw;

    color: var(--Dark-grayish-blue);
    font-weight: 100;

}
.content .city{
    font-size: 1.171vw;
 
    color: var(--Dark-grayish-blue);
    font-weight: 100;
    text-align: center;
}
 .content hr{
    width: 22.5vw;
    margin-top: 3vh;
}
.stats{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    font-size: 1.171vw;
    padding: 1vh;
}
.stats span{
    color:var(--Very-darkblue);
    font-weight: 600;
}
.stats div{
    font-weight: 100;
    color: var(--Dark-grayish-blue);
}
.follower{
  padding-right: 4vw;

}
.likes{
    padding-right: 4vw;
}
.photos{
    padding-right: 1vw;
}

.attribution { 
    font-size: 11px; text-align: center; 
    position: relative;
    top:155px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}